<!DOCTYPE html>
{% block html_tag %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.request.locale }}"> <!--<![endif]-->
{% endblock html_tag %}

{% block head %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% block head_style %}

            <link rel="stylesheet" href="/css/bootstrap.css">
            <link rel="stylesheet" href="/css/styles.css">
            <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css">

        {% endblock head_style %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        {% block head_script %}

            <script type="text/javascript" src="{{ asset('js/modernizr.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap/tooltip.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap/popover.js') }}"></script>

        {% endblock head_script %}

        <title>{% block title %}BLAGNAC Volley-Ball{% endblock title %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {% block head_bottom %}
        {% endblock head_bottom %}
    </head>
{% endblock head %}

{% block body_tag %}
<body>
{% endblock body_tag %}

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block body_start %}
{% endblock body_start %}

{% block body %}

{% block bv_head %}
    <header class="expanded no-hover">
        <div class="nav-container">
            <a href="{{ url('home') }}" class="nav-logo"></a>
        </div>

        {% block bv_head_top %}
            <div class="bar">
                <div class="sharing-left">
                    <a href="{{ url('sonata_admin_redirect') }}" class="label social">Acc&egrave;s Administrateur</a>
                </div>
                {% if app.user %}
                    <div class="sharing-left">
                        <span class="label">
                            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'header.navbar.logged_user' | trans() }} {{ app.user.firstname }} {{ app.user.lastname }}
                        </span>
                    </div>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {% block admin_notifications %}
                            {{ render(controller('FrontBundle:Default:adminNotifications')) }}
                        {% endblock admin_notifications %}
                    {% endif %}

                {% endif %}
                <div class="sharing">
                    {% if app.user %}
                        <a href="{{ path('fos_user_security_logout') }}" class="label social">{{ 'header.navbar.logout' | trans() }}</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="label social">{{ 'header.navbar.login'|trans() }}</a>
                    {% endif %}
                    {#<a href="" target="_blank" class="header-icon twitter">Twitter</a>#}
                    {#<a href="" target="_blank" class="header-icon facebook">Facebook</a>#}
                    {#<span class="label social">Retrouvez-nous sur </span>#}
                </div>
            </div>
        {% endblock bv_head_top %}

        {% block bv_head_content %}
            <div class="nav-mask">
                <nav>
                    <div class="nav-container">
                        <ul class="nav left">
                            <li class="home">
                                <a href="{{ url('home') }}">Accueil</a>
                            </li>
                            <li class="calendar">
                                <a href="{{ path('bv_calendar_index') }}">
                                    <span class="name"><br>Calendrier</span>
                                </a>
                            </li>
                            <li class="addresses">
                                <a href="{{ path('bv_static_addresses') }}">
                                    <span class="name"><br>Adresses</span>
                                </a>
                            </li>
                            <li class="horaires">
                                <a href="{{ path('bv_static_schedule') }}">
                                    <span class="name"><br>Horaires</span>
                                </a>
                            </li>
                            <li class="school">
                                <a href="{{ path('bv_static_volley_school') }}">
                                    <span class="name"><br>Ecole de Volley</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav right">
                            <li class="connexion">
                                <a href="#">
                                    <span class="name"><br>Bureau</span>
                                </a>
                            </li>
                            <li class="myaccount">
                                {% block bv_head_top_registration %}
                                    {% if app.user %}
                                        <a href="{{ path('fos_user_profile_show') }}">
                                            <span class="name"><br>
                                                {{ 'header.navbar.my_account' | trans() }}
                                            </span>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('fos_user_registration_register') }}">
                                            <span class="name"><br>
                                                {{ 'header.navbar.register' | trans() }}
                                            </span>
                                        </a>
                                    {% endif %}
                                {% endblock %}
                            </li>
                            <li class="contact">
                                <a href="{{  url('contact') }}">
                                    <span class="name"><br>Contact</span>
                                </a>
                            </li>
                            <li class="teams">
                                <a href="{{ path('teams') }}">
                                    <span class="name"><br>Equipes</span>
                                </a>
                            </li>
                            <li class="freeplay">
                                <a href="{{ path('bv_static_jeu_libre') }}">
                                    <span class="name"><br>Jeu Libre</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        {% endblock bv_head_content %}

        {% block bv_head_bottom %}
        {% endblock bv_head_bottom %}

    </header>
{% endblock bv_head %}

<div class="body_content">
    {% block container %}
        {% block container_div_start %}
        <div class="{% block container_class %}container{% endblock container_class %}">
        {% endblock container_div_start %}

        {% block content_div_start %}<div class="content">{% endblock content_div_start %}

            {% block flashes %}
                <ul class="flash-messages">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <li class="bg-warning">
                            {{ flashMessage }}
                        </li>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <li class="bg-success">
                            {{ flashMessage }}
                        </li>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <li class="bg-danger">
                            {{ flashMessage }}
                        </li>
                    {% endfor %}
                </ul>
            {% endblock flashes %}

            {% block content_row %}
                <div class="row">
                    {% block content %}
                        <div class="col-sm-9">
                            {% block content_content %}
                                <strong>Hier könnte Ihre Werbung stehen ... </strong>
                            {% endblock content_content %}
                        </div>
                        <div class="col-sm-3">
                            {% block content_sidebar %}
                                <h2>Sidebar</h2>
                            {% endblock content_sidebar %}
                        </div>
                    {% endblock content %}
                </div>
            {% endblock content_row %}

        {% block content_div_end %}
        </div>
        {% endblock content_div_end %}

    {% endblock container %}
</div> <!-- END body_content -->

    {% block body_end_before_js %}
        <div id="push"></div>
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div id="footer">
                <div class="container">
                    <p class="muted credit">Pour toute demande d'information, contactez nous à l'adresse <a target="_blank" href="mailto:blagnacvolley@free.fr">blagnacvolley@free.fr</a></p>
                </div>
            </div>
        </nav>
    {% endblock body_end_before_js %}

    {% block foot_script %}
        {# To only use a subset or add more js overwrite and copy paste this block
        To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
        Otherwise the regeneration is done on every load in dev more with use_controller: true
         #}
        {% block foot_script_assetic %}
        {% endblock foot_script_assetic %}

        <script type="text/javascript">
//            $(document).ready(function () {
//                $('[data-toggle="tooltip"]').tooltip();
//                $('[data-toggle="popover"]').popover();
//            });
        </script>
    {% endblock foot_script %}
    {% endblock body %}

    {% block body_end %}
    {% endblock body_end %}
</body>
</html>






