<div class="fos_user_user_edit">
    <h1>{{ 'profile.edit.title'|trans() }}</h1>

    <form autocomplete="off" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal row-fluid" role="form">

        <div class="form-group">
            <div class="col-sm-2">
                {{ form_label(form.email) }}
            </div>
            <div class="col-sm-10">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, { 'attr': {'autocomplete': 'off'} }) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                {{ form_label(form.certifFile) }}
            </div>
            <div class="col-sm-10">
                {% if isRequiredCertif %}
                    <div class="row-fluid">
                        {{ form_errors(form.certifFile) }}
                        {{ form_widget(form.certifFile) }}
                    </div>
                {% else %}
                    <a target="_blank" href="{{ asset(user.getCertif) }}"><span class="fa fa-file fs20 pt5 color-text-peter-river"></span></a> Envoyé le <i>{{ user.getDateCertif()|date('d/m/Y') }} à {{ user.getDateCertif()|date('H:i') }}</i>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                {{ form_label(form.attestationFile) }}
            </div>
            <div class="col-sm-10">
                {% if isRequiredAttestation %}
                    <div class="row-fluid">
                        {{ form_errors(form.attestationFile) }}
                        {{ form_widget(form.attestationFile) }}
                    </div>
                {% else %}
                    <a target="_blank" href="{{ asset(user.getAttestation) }}"><span class="fa fa-file fs20 pt5 color-text-peter-river"></span></a> Envoyé le <i>{{ user.getDateAttestation()|date('d/m/Y') }} à {{ user.getDateAttestation()|date('H:i') }}</i>
                {% endif %}
            </div>
        </div>

        {% if isRequiredParentalAdvisory %}
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(form.parentalAdvisoryFile) }}
                </div>
                <div class="col-sm-10">
                    <div class="row-fluid">
                        {{ form_errors(form.parentalAdvisoryFile) }}
                        {{ form_widget(form.parentalAdvisoryFile) }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-10">
                <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>

        {{ form_widget(form._token) }}

    </form>
    <br/>
    <hr/>
    <br/>
    <div class="well well-sm">{{ 'profile.edit.message'|trans() }}</div>

    <div class="col-sm-12">
        <form action="{{ path('bv_user_update_informations_request') }}" method="POST" class="form-horizontal row-fluid" role="form">
            <label class="control-label required" for="fos_user_profile_form_message">Votre message</label>
            <br/>
            <br/>
            <textarea class="form-control" id="fos_user_profile_form_message" name="fos_user_profile_form[message]" rows="3"></textarea>
            <br/>
            <input class="btn btn-success" type="submit" value="Envoyer" />
        </form>
    </div>
</div>