<div class="fos_user_user_show">
{% if user.status == constant('STATUS_ACTIVE_NOT_LICENSED', user) %}
    <div class="col-sm-12">
        <div class="well well-sm warning">{{ 'profile.show.not_licensed'|trans()|raw }}</div>
    </div>
{% endif %}
{% if user.status == constant('STATUS_ACTIVE_WAITING_VALIDATION', user) %}
    <div class="col-sm-12">
        <div class="well well-sm warning">{{ 'profile.show.waiting_validation'|trans()|raw }}</div>
    </div>
{% endif %}
{% if user.status == constant('STATUS_ACTIVE_WAITING_LICENSE', user) %}
    <div class="col-sm-12">
        <div class="well well-sm warning">{{ 'profile.show.waiting_license'|trans()|raw }}</div>
    </div>
{% endif %}

{% if user.status == constant('STATUS_ACTIVE_NOT_LICENSED', user) %}
    {%  set class='danger' %}
{% elseif user.status == constant('STATUS_ACTIVE_LICENSED', user) %}
    {%  set class='primary' %}
{% else %}
    {%  set class='warning' %}
{% endif %}

<div class="col-sm-2">
    <div class="panel panel-{{ class }}">
        <div class="panel-heading text-center" style="border:0;font-size: 0.9em;">
            {{ ('constants.user.status.' ~ user.status) |trans()}}
        </div>
        <div class="panel-body p0">
            <img src="{{ user.picture |apply_filter('img_160_160') }}" class="img-thumbnail" style="margin: 0 auto;display: block;" />
        </div>
        <div class="panel-footer">
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-sm btn-block">Modifier</a><br/>
            {% if user.isAllowedToRenew() %}
                <a href="{{ path('bv_user_profile_renew_license') }}" class="btn btn-success btn-sm btn-block">Renouveler</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="col-sm-10">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Groupes accessibles
                </div>
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <th class="lh30">Ecole de volley Adultes</th>
                        <td>
                            {% if (user.isVolleySchoolAdult) == true %}
                                <a href="{{ path('bv_user_toggle_group', {'type': constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_VOLLEYSCHOOL_ADULT')} ) }}" class="btn btn-warning btn-sm btn-block" >Quitter</a>
                            {% else %}
                                <a href="{{ path('bv_user_toggle_group', {'type': constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_VOLLEYSCHOOL_ADULT')} ) }}"  class="btn btn-success btn-sm btn-block"  >S'inscrire</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="lh30">Ecole de volley Jeunes</th>
                        <td>
                            {% if (user.isVolleySchoolYouth) == true %}
                                <a href="{{ path('bv_user_toggle_group', {'type': constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_VOLLEYSCHOOL_YOUTH')} ) }}" class="btn btn-warning btn-sm btn-block" >Quitter</a>
                            {% else %}
                                <a href="{{ path('bv_user_toggle_group', {'type': constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_VOLLEYSCHOOL_YOUTH')} ) }}"  class="btn btn-success btn-sm btn-block"  >S'inscrire</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="lh30">Jeu libre</th>
                        <td>
                            {% if (user.isFreeplay) == true %}
                                <a href="{{ path('bv_user_toggle_group', {'type': constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_FREE_PLAY')} ) }}" class="btn btn-warning btn-sm btn-block" >Quitter</a>
                            {% else %}
                                <a href="{{ path('bv_user_toggle_group', {'type': constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_FREE_PLAY')} ) }}"  class="btn btn-success btn-sm btn-block"  >S'inscrire</a>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ 'profile.show.connexion_data.title'|trans()}}
                </div>
                <table class="table table-hover table-striped table-condensed">
                    <tbody>
                    <tr>
                        <th>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ 'profile.show.club_data.title'|trans()}}
                </div>
                <table class="table table-hover table-striped table-condensed">
                    <tbody>
                    <tr>
                        <th>{{ 'profile.show.club_data.level'|trans() }}</th>
                        <td>{{ ('constants.user.level.' ~ user.level) |trans()}}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.club_data.mscteam'|trans() }}</th>
                        <td>
                            {% if user.getMscTeam %}
                                <a href="{{ path('team_show', {'id': user.getMscTeam.getId })  }}">{{ user.getMscTeam.name }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.club_data.mixteam'|trans() }}</th>
                        <td>
                            {% if user.getMixTeam %}
                                <a href="{{ path('team_show', {'id': user.getMixTeam.getId })  }}">{{ user.getMixTeam.name }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.club_data.femteam'|trans() }}</th>
                        <td>
                            {% if user.getFemTeam %}
                                <a href="{{ path('team_show', {'id': user.getFemTeam.getId })  }}">{{ user.getFemTeam.name }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.club_data.shirt_size'|trans() }}</th>
                        <td>{{ user.shirtSize }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.club_data.license'|trans() }}</th>
                        <td>{{ user.licenseNumber }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ 'profile.show.address_data.title'|trans()}}
                </div>
                <table class="table table-hover table-striped table-condensed">
                    <tbody>
                    <tr>
                        <th>{{ 'profile.show.address_data.gender'|trans()}}</th>
                        <td>{{ ('constants.user.gender.' ~ user.gender) |trans()}}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.address_data.dob'|trans()}}</th>
                        <td>{{ user.dob|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.address_data.category'|trans()}}</th>
                        <td>
                            {{ user.getAge() }} ans
                            <a rel="popover" href="javascript:void(0);">
                                ({{ ('constants.user.category.' ~ user.getCategory())|trans() }})
                                <div class="head hide">
                                    Catégories
                                </div>
                                <div class="content hide">
                                    {% set lastcat = null %}
                                    {% set lastage = 0 %}
                                    {% set previousage = 0 %}
                                    {% set previouscat = null %}
                                    <ul>
                                        {% for key, cat in user.getCategories() %}
                                            {% if lastage == 0 %}
                                                {% set lastage = key %}
                                                {% set lastcat = cat %}
                                            {% endif %}
                                            {% if (lastcat != cat) %}
                                                <li>{{ previousage }} - {{ lastage }} ans : {{ ('constants.user.category.' ~ lastcat)|trans }}</li>
                                                {% set lastage = key %}
                                                {% set lastcat = cat %}
                                                {% set previousage = key %}
                                                {% set previouscat = cat %}
                                            {% else %}
                                                {% set lastage = key %}
                                                {% set lastcat = cat %}
                                            {% endif %}
                                        {% endfor %}
                                        <li>{{ previousage }} + : {{ ('constants.user.category.' ~ lastcat)|trans }}</li>
                                    </ul>
                                </div>
                            </a>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $("[rel=popover]").each(function(){
                                        $(this).popover({
                                            html : true,
                                            trigger: 'hover',
                                            title: function() {
                                                return $(this).children('.head').html();
                                            },
                                            content: function() {
                                                return $(this).children('.content').html();
                                            },
                                            container: 'body',
                                            placement: 'bottom'
                                        });
                                    });
                                });
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.address_data.address'|trans()}}</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.address_data.phone'|trans()}}</th>
                        <td>{{ user.phone }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
                    <script type="text/javascript">
                        function initializeGmaps() {
                            var mapOptions = { center: new google.maps.LatLng({{ user.geoLat }}, {{ user.geoLng }}),zoom: 16 };
                            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
                            var myLatlng = new google.maps.LatLng({{ user.geoLat }}, {{ user.geoLng }});
                            var marker = new google.maps.Marker({
                                position: myLatlng,
                                draggable:false,
                                map: map,
                                title:"{{ user.username }}"
                            });
                            var infowindow = new google.maps.InfoWindow({
                                content: "{{ user.username }}"
                            });
                            google.maps.event.addListener(marker, 'click', function() {
                                infowindow.open(map,marker);
                            });
                        }
                        google.maps.event.addDomListener(window, 'load', initializeGmaps);
                    </script>
                    <div id="map-canvas" style="height:300px;width:409px;"/>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
