{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/progress.css') }}">
{% endblock stylesheets %}

{% block content %}

    {% set p_active = ((( users.total - users.INACTIVE) * 100 / users.total ) )|round  %}
    {% set active = ( users.total - users.INACTIVE) %}
    {% set p_inactive = ((( users.INACTIVE) * 100 / users.total ) )|round  %}
    {% set p_active_not_licensed = ((( users.ACTIVE_NOT_LICENSED) * 100 / active ) )|round  %}
    {% set p_active_waiting_license = ((( users.ACTIVE_WAITING_LICENSE) * 100 / active ) )|round  %}
    {% set p_active_waiting_validation = ((( users.ACTIVE_WAITING_VALIDATION) * 100 / active ) )|round  %}
    {% set p_active_licensed = ((( users.ACTIVE_LICENSED) * 100 / active ) )|round  %}

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ active }}
                    </div>
                    <div class="desc">
                        Utilisateurs Actifs
                    </div>
                </div>
                <a class="more" href="javascript:;">
                    Liste des utilisateurs <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ users.INACTIVE }}
                    </div>
                    <div class="desc">
                        Utilisateurs inactifs
                    </div>
                </div>
                <a class="more" href="{{ path('admin_bv_front_user_list', {'filter[enabled][value]': 2}) }}">
                    Voir la liste <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat yellow-casablanca">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ users.ACTIVE_NOT_LICENSED }}
                    </div>
                    <div class="desc">
                        Utilisateurs actifs non licenciés
                    </div>
                </div>
                <a class="more" href="{{ path('admin_bv_front_user_list', {'filter[status][value]': 'ACTIVE_NOT_LICENSED'}) }}">
                    Voir la liste <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple-plum">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ users.ACTIVE_WAITING_VALIDATION }}
                    </div>
                    <div class="desc">
                        Utilisateurs en attente validation
                    </div>
                </div>
                <a class="more" href="{{ path('admin_bv_front_user_list', {'filter[status][value]': 'ACTIVE_WAITING_VALIDATION'}) }}">
                    Voir la liste <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-seagreen">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ users.ACTIVE_WAITING_LICENSE }}
                    </div>
                    <div class="desc">
                        Utilisateurs en attente de Licence
                    </div>
                </div>
                <a class="more" href="{{ path('admin_bv_front_user_list', {'filter[status][value]': 'ACTIVE_WAITING_LICENSE'}) }}">
                    Liste des utilisateurs <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ users.ACTIVE_LICENSED }}
                    </div>
                    <div class="desc">
                        Actifs Licenciés
                    </div>
                </div>
                <a class="more" href="{{ path('admin_bv_front_user_list', {'filter[status][value]': 'ACTIVE_LICENSED'}) }}">
                    Voir la liste <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>Notifications
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-fw fa-user"></i> Type
                                </th>
                                <th class="hidden-xs">
                                    <i class="fa fa-fw fa-calendar"></i> Date
                                </th>
                                <th>
                                    <i class="fa fa-check"></i> Is Read
                                </th>
                                <th>
                                    <i class="fa fa-check"></i> Level
                                </th>
                                <th style="width: 1px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for notif in notifications %}
                                <tr>
                                    <td>
                                        <span class="label label-sm label-success">{{ ( 'constants.types.' ~ notif.type)|trans }} </span>
                                        <i class="fa fa-fw fa-user"></i> {{ notif.user.firstname }} {{ notif.user.lastname }}
                                    </td>
                                    <td>
                                        {{ notif.created|date('d/m/Y H:i') }}
                                    </td>
                                    <td>
                                        {{ notif.isRead }}
                                    </td>
                                    <td>{{ ( 'constants.levels.' ~ notif.level)|trans }}</td>
                                    <td>
                                        <button class="btn default btn-xs green-stripe pull-right">
                                            Marquer comme lu </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
