{% block autocomplete_widget %}
    {% spaceless %}

        {{ block("form_widget_simple") }}

        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
        <script type="application/javascript">
            function initialize() {
                var autocomplete = new google.maps.places.Autocomplete(
                        (document.getElementById('{{ id }}')), {
                            types: ['geocode']
                        });

                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();
                    document.getElementById('{{ id|replace({'_address':'_geo_lat'}) }}').value = place.geometry.location.lat();
                    document.getElementById('{{ id|replace({'_address':'_geo_lng'}) }}').value = place.geometry.location.lng();
                });
            }
            initialize();

        </script>

    {% endspaceless %}
{% endblock autocomplete_widget %}

{% block datePicker_widget  %}

    {% spaceless %}

        <div class="input-group date">
            <input type="text" class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} ><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>

        <script type="text/javascript">
        jQuery('#{{ id }}').datepicker({
            startView: 2,
            language: "fr",
            autoclose: true
        });
        </script>

    {% endspaceless %}
{% endblock datePicker_widget  %}

{% block file_widget  %}
    {% spaceless %}
        {% if image_url is defined and image_url is not null %}
            <div class="row-fluid">
                <div class="col-sm-1">
                    <a target="_blank" href="{{ app.request.schemeAndHttpHost ~ image_url }}">
                        {% if image_url|split('.')|last|lower != 'pdf' %}
                            <img class="img-thumbnail" src="{{ asset(image_url)|apply_filter('img_50_50') }}"/>
                        {% else %}
                            <i class="img-thumbnail fa fa-file-text-o color-text-belize-hole" style="font-size: 50px; padding-left: 7px; width: 59px; height: 59px;"></i>
                        {% endif %}
                    </a>
                </div>
                <div class="col-sm-9 mt10">
                    <input type="file" {{ block('widget_attributes') }} value="E:\www\blagnacvolley_sf2\web\uploads\attestation\42.jpeg">
                </div>
                {% if image_type != constant('\\BV\\FrontBundle\\Entity\\User::IMAGE_TYPE_PICTURE') %}
                    <div class="col-sm-1 mt10">
                        <a href="{{ path('bv_delete_file', { 'id': user_id, 'type': image_type }) }}" class="btn btn-danger">Supprimer</a>
                    </div>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        {% else %}
            <div class="col-sm-12">
                <input type="file" {{ block('widget_attributes') }}>
            </div>
            <div class="clearfix"></div>
        {% endif %}
        <script type="text/javascript">
        //<![CDATA[
        $(":file").filestyle({buttonBefore: true, icon: false, buttonName: "btn-primary", buttonText: "Choisir un fichier"});
        //]]>
        </script>
    {% endspaceless %}
{% endblock file_widget  %}
