{% block autocomplete_widget %}
    {% spaceless %}

        {{ block("form_widget_simple") }}

        {#Added on Form#}
        {#<input type="hidden" name="{{ id|replace({'_address':''}) }}[geo_lat]" id="{{ id|replace({'_address':''}) }}_geo_lat" value="" />#}
        {#<input type="hidden" name="{{ id|replace({'_address':''}) }}[geo_lng]" id="{{ id|replace({'_address':''}) }}_geo_lng" value="" />#}

        <script type="application/javascript">
            function initialize() {
                var autocomplete = new google.maps.places.Autocomplete(
                        (document.getElementById('{{ id }}')), {
                            types: ['geocode']
                        });

                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();
                    document.getElementById('{{ id|replace({'_address':'_geo_lat'}) }}').value = place.geometry.location.lat();
                    document.getElementById('{{ id|replace({'_address':'_geo_lng'}) }}').value = place.geometry.location.lng();
                });
            }
            initialize();

        </script>

    {% endspaceless %}
{% endblock autocomplete_widget %}

{% block datePicker_widget  %}

    {% spaceless %}

        <div class="input-group date">
            <input type="text" class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} ><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>

        <script type="text/javascript">
        jQuery('#{{ id }}').datepicker({
            startView: 2,
            language: "fr",
            autoclose: true
        });
        </script>

    {% endspaceless %}
{% endblock datePicker_widget  %}
