{% extends 'BlagnacVolleyWebsiteBundle::base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@BlagnacVolleyWebsiteBundle/Resources/public/less/styles.less'
    filter='lessphp'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block bv_head_top_connexion %}
    {% if app.user %}
        <li><a href="{{ path('sonata_user_profile_show') }}">{{ app.user.username }}</a> |</li>
        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'header.navbar.logout' | trans() }}</a></li>
    {% else %}
        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'header.navbar.register'|trans() }}</a></li>
        <li><a href="{{ path('fos_user_security_login') }}">{{ 'header.navbar.login'|trans() }}</a></li>
    {% endif %}
{% endblock %}

{% block body_start %}
<div id="wrap">
{% endblock body_start %}

{% block footer_tag_start %}{% endblock %}
{% block footer_tag_end %}{% endblock %}

{% block body_end_before_js %}
    <div id="push"></div>
</div>
<div id="footer">
    <div class="container">
        <p class="muted credit">Pour toute demande d'information, contactez nous à l'adresse <a target="_blank" href="mailto:blagnacvolley@free.fr">blagnacvolley@free.fr</a></p>
    </div>
</div>
{% endblock body_end_before_js %}

