{# Copied from MopaBootstrapBundle::base_less.html.twig #}
{# Changed 'less' filter by 'lessphp' #}

{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}BLAGNAC Volley-Ball{% endblock %}

{% block headline %}<a href="{{ url('home') }}">BLAGNAC Volley-Ball</a>{% endblock %}

{% block head_style %}
    {# Override this block to add your own files! #}
    {% stylesheets
    '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
    filter='lessphp'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {# To use this without less use the base_css.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}
{% endblock head_style %}

{% block body_start %}
<div id="wrap">
{% endblock body_start %}

{% block footer_tag_start %}{% endblock %}
{% block footer %}{% endblock %}
{% block footer_tag_end %}{% endblock %}

{% block body_end_before_js %}
    <div id="footer">
        <div class="container">
            <p class="muted credit">Pour toute demande d'information, contactez nous à l'adresse <a target="_blank" href="mailto:blagnacvolley@free.fr">blagnacvolley@free.fr</a></p>
        </div>
    </div>
{% endblock body_end_before_js %}

{% block foot_script_assetic %}
    {% javascripts
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{# ####################################################### #}

{#% block body_tag %}
<body data-spy="scroll" data-target="#navbar-example">
{% endblock body_tag %#}

{#% block head_script %}
    {% javascripts
    'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %#}

{#% block head_bottom %}
    {{ parent() }}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17161773-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endblock head_bottom %#}

{#% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, inverse: true, id: 'navbar-example' } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('mopa_bootstrap_welcome') }}">Mopa Bootstrap</a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('MopaBootstrapSandboxBundle:Builder:createMainMenu') }}
            {{ mopa_bootstrap_menu('exampledropdown', {'automenu': 'navbar', 'pull-right': true}) }}
        {% endblock %}
    {% endembed %}
{% endblock navbar %#}
