{% extends 'BlagnacVolleyWebsiteBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block title %}Contact{% endblock%}

{% block genemu_captcha_widget %}
    {% spaceless %}
        <img src="{{ src }}" width="{{ width }}" height="{{ height }}" title="{{ name|trans }}" alt="{{ name|trans }}" />
        {{ block("form_widget_simple") }}
    {% endspaceless %}
{% endblock %}

{% block head_style %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block head_script %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block genemu_recaptcha_javascript %}
    {% spaceless %}
        <script type="text/javascript" src="{{ asset("http://www.google.com/recaptcha/api/js/recaptcha_ajax.js") }}"></script>
        <script type="text/javascript">
            function genemu_recaptcha_load()
            {
                Recaptcha.create('{{ public_key }}', '{{ id }}_div', {{ configs|json_encode|raw }});
            }
            if (window.addEventListener) {
                window.addEventListener('load', genemu_recaptcha_load, false);
            } else if (window.attachEvent) {
                window.attachEvent('onload', genemu_recaptcha_load);
            } else {
                window.onload = genemu_recaptcha_load;
            }
        </script>
    {% endspaceless %}
{% endblock genemu_recaptcha_javascript %}

{% block content_row %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <form action="{{ path('contactPost')}}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
    </form>

{% endblock %}
