{% extends 'BlagnacVolleyWebsiteBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block title %}Contact{% endblock%}

{% block genemu_captcha_widget %}
    {% spaceless %}
        <img src="{{ src }}" width="{{ width }}" height="{{ height }}" title="{{ name|trans }}" alt="{{ name|trans }}" />
        {{ block("form_widget_simple") }}
    {% endspaceless %}
{% endblock %}

{% block content_row %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
    </form>

{% endblock %}
