{% extends 'FrontBundle::layout.html.twig' %}

{% block content_row -%}
    <h1>{{ 'team.index.h1'|trans() }}</h1>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>{{ 'team.index.type'|trans() }}</th>
            <th>{{ 'team.index.name'|trans() }}</th>
            <th>{{ 'team.index.level'|trans() }}</th>
            <th>{{ 'team.index.slot'|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {{ include ( 'FrontBundle:Team:team_block.html.twig', {title: 'team.index.h2.fem'|trans(),entities: entities['fem'], allowed_to_view: allowed_to_view }, with_context = false ) }}
        {{ include ( 'FrontBundle:Team:team_block.html.twig', {title: 'team.index.h2.msc'|trans(),entities: entities['msc'], allowed_to_view: allowed_to_view }, with_context = false ) }}
        {{ include ( 'FrontBundle:Team:team_block.html.twig', {title: 'team.index.h2.mix'|trans(),entities: entities['mix'], allowed_to_view: allowed_to_view }, with_context = false ) }}
        </tbody>
    </table>

{% endblock %}