{% for entity in entities %}
    {% set level = "constants.user.level." ~ entity.level %}
    <tr>
        <td>{{ entity.type }}</td>
        <td>
            {% if allowed_to_view %}
                <a href="{{ path('team_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
            {% else %}
                {{ entity.name }}
            {% endif %}
        </td>
        <td>{{ level | trans }}</td>
        <td>{{ entity.slot }}</td>
    </tr>
{% endfor %}