{% for entity in entities %}
    <tr>
        <td>{{ entity.type }}</td>
        <td>
            <a href="{{ path('team_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
        </td>
        <td>{{ entity.level }}</td>
        <td>{{ entity.slot }}</td>
    </tr>
{% endfor %}