{% extends 'SonataAdminBundle:CRUD:base_list_flat_field.html.twig' %}

{% block field %}
    {% set valueId = value %}
    {% spaceless %}
        {% if field_description.options.choices is defined %}
            {% if field_description.options.multiple is defined and field_description.options.multiple==true and value is iterable %}

                {% set result = '' %}
                {% set delimiter = field_description.options.delimiter|default(', ') %}

                {% for val in value %}
                    {% if result is not empty %}
                        {% set result = result ~ delimiter %}
                    {% endif %}

                    {% if field_description.options.choices[val] is defined %}
                        {% if field_description.options.catalogue is not defined %}
                            {% set result = result ~ field_description.options.choices[val] %}
                        {% else %}
                            {% set result = result ~ field_description.options.choices[val]|trans({}, field_description.options.catalogue) %}
                        {% endif %}
                    {% else %}
                        {% set result = result ~ val %}
                    {% endif %}
                {% endfor %}

                {% set value = result %}

            {% elseif value in field_description.options.choices|keys %}
                {% if field_description.options.catalogue is not defined %}
                    {% set value = field_description.options.choices[value] %}
                {% else %}
                    {% set value = field_description.options.choices[value]|trans({}, field_description.options.catalogue) %}
                {% endif %}
            {% endif %}
        {% endif %}

        {{ ('constants.types.' ~ value)|trans({}) }}

        {#{% if object.user != null %}#}
            {#<br/>{{ object.user.firstname }} {{ object.user.lastname }}#}
            {#{% if object.user.certif != null %}#}
                {#<br/><a href="{{ object.user.certif }}" target="_blank" class="fa fa-file"></a> Certificat médical#}
            {#{% else %}#}
                {#<br/>Pas de certificat médical#}
            {#{% endif %}#}
            {#{% if object.user.attestation != null %}#}
                {#<br/><a href="{{ object.user.attestation }}" target="_blank" class="fa fa-file"></a> Attestation pôle Emploi#}
            {#{% else %}#}
                {#<br/>Pas d'Attestation pôle Emploi#}
            {#{% endif %}#}
            {#{% if object.user.parentalAdvisory != null %}#}
                {#<br/><a href="{{ object.user.parentalAdvisory }}" target="_blank" class="fa fa-file"></a> Autorisation parentale#}
            {#{% else %}#}
                {#<br/>Pas d'Autorisation parentale#}
            {#{% endif %}#}
        {#{% endif %}#}

        {#{% if (valueId == constant('\\Tools\\LogBundle\\Entity\\SystemLog::TYPE_USER_NEW_CERTIF')) %}#}
            {#<a href="{{ object.user.certif }}" target="_blank" class="fa fa-file"></a>#}
        {#{% endif %}#}

        {#{% if (valueId == constant('\\Tools\\LogBundle\\Entity\\SystemLog::TYPE_USER_NEW_ATTESTATION')) %}#}
            {#<a href="{{ object.user.attestation }}" target="_blank" class="fa fa-file"></a>#}
        {#{% endif %}#}

    {% endspaceless %}
{% endblock %}