{% extends 'FrontBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - Calendrier {% endblock%}

{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('assets/global/plugins/fullcalendar/fullcalendar.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/global/plugins/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/bootstrap/js/modal.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
    <script src='{{ asset('assets/global/plugins/fullcalendar/lang/fr.js') }}'></script>
    <script src='{{ asset('assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}'></script>
    <script src='{{ asset('assets/admin/pages/scripts/components-pickers.js') }}'></script>
    <script type="text/javascript">
        //<![CDATA[

        var userId = '{{ user_id }}';
        var isAdmin = '{{ is_admin }}';

        $(document).ready(function() {
            ComponentsPickers.init();

            $('#calendar').fullCalendar({
                weekends: false, // will hide Saturdays and Sundays
                weekNumbers: true,
                lang: 'fr',
                eventSources: [
                    {
                        url: '{{ path('bv_calendar_getEvents') }}',
                        type: 'POST',
                        data: {},
                        error: function() {
                            alert('there was an error while fetching events!');
                        }
                    }
                ],
                eventRender: function(event, element, view) {
                    return  ' <a class="fc-day-grid-event fc-event fc-start fc-end bv_event_'+event.type+'">'+
                            '    <div class="fc-content bvpopover" data-toggle="popover" title="'+event.title+'" data-content="'+event.details+'">'+
                            '       <span class="fc-time">'+(event.start.format('H:m') != '0:0' ? event.start.format('H:m') : '')+'</span> <span class="fc-title">'+event.title+'</span>' +
                            '    </div>' +
                            ' </a>';
                },
                eventAfterAllRender: function(){
                    $('.bvpopover').popover({
                        trigger: 'hover',
                        placement: 'top'
                    });
                }
                {% if is_allowed_to_edit == true%}
                ,eventClick: function(calEvent, jsEvent, view) {
                    if (isAdmin || userId == calEvent.captain || userId == calEvent.subcaptain)
                    {
                        $('#edit-type option[value="'+calEvent.type+'"]').attr('selected', true);
                        if (calEvent.team != null)
                            $('#edit-team option[value="'+calEvent.team+'"]').attr('selected', true);
                        $('#edit-start-date').val(calEvent.start.format('HH:mm'));
                        $('#edit-end-date').val(calEvent.end.format('HH:mm'));
                        $('#edit-details').val(calEvent.details);
                        $('#event-id').val(calEvent.id);
                        $('#date-edition').val(calEvent.start.format('YYYY-MM-DD'));

                        $('#modal-edition').modal();
                    }
                },
                dayClick: function(date, jsEvent, view) {
                    $('#date-creation').val(date.format());
                    $('#modal-creation').modal();
                }
                {% endif %}
            });

            $('#start-date').timepicker({
                autoclose: true,
                minuteStep: 5,
                showSeconds: false,
                showMeridian: false,
                defaultTime: '20:30'
            });

            $('#end-date').timepicker({
                autoclose: true,
                minuteStep: 5,
                showSeconds: false,
                showMeridian: false,
                defaultTime: '23:00'
            });

        });

        $('#type').change(function(){
            switch ($('#type').val()) {
                case '{{ constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_CLOSED') }}':
                case '{{ constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_VOLLEYSCHOOL_ADULT') }}':
                case '{{ constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_VOLLEYSCHOOL_YOUTH') }}':
                case '{{ constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_FREE_PLAY') }}':
                    $('#fgteam').hide();
                    break;
                case '{{ constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_TRAINING') }}':
                case '{{ constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_MATCH') }}':
                case '{{ constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_CUP') }}':
                    $('#fgteam').show();
                    break
            }
        });

        function deleteClicked(eventId)
        {
            $('#delete-event-id').val($('#event-id').val());
            $('#modal-delete').modal('show');
        }

        //]]>
    </script>
{% endblock %}

{% block content_row %}

    <div id="calendar"></div>

    <div class="modal fade" id="modal-creation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 10100;">
        <div class="modal-dialog" style="z-index: 10101;">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" action="{{ path('bv_calendar_saveEvents') }}" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ajouter un évènement</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                <select id="type" name="type" class="form-control">
                                    {% for k,i in alert_opts_types_json %}
                                        <option value="{{ i }}">{{ ('constants.events.type.' ~ i)|trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="fgteam">
                            <label for="team" class="col-sm-2 control-label">Equipe</label>
                            <div class="col-sm-10">
                                <select id="team" name="team" class="form-control">
                                    {% for k,i in alert_opts_teams_json %}
                                    <option value="{{ k }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start-date" class="col-sm-2 control-label">Début</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="start-date" name="start-date">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                    </span>
                                </div>
                            </div>
                            <label for="end-date" class="col-sm-2 control-label">Fin</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="end-date" name="end-date">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="details" class="col-sm-2 control-label">Détails</label>
                            <div class="col-sm-10">
                                <textarea name="details" id="details" class="form-control" style="height:200px;resize: none;"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="action" value="inserted" />
                    <input type="hidden" name="date" id="date-creation" value="" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Sauvegarder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-edition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"style="z-index: 10110;">
        <div class="modal-dialog" style="z-index: 10111;">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" action="{{ path('bv_calendar_saveEvents') }}" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modifier un évènement</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="edit-type" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                <select id="edit-type" name="type" class="form-control">
                                    {% for k,i in alert_opts_types_json %}
                                        <option value="{{ i }}">{{ ('constants.events.type.' ~ i)|trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="fgteam">
                            <label for="edit-team" class="col-sm-2 control-label">Equipe</label>
                            <div class="col-sm-10">
                                <select id="edit-team" name="team" class="form-control">
                                    {% for k,i in alert_opts_teams_json %}
                                        <option value="{{ k }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit-start-date" class="col-sm-2 control-label">Début</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="edit-start-date" name="start-date">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                    </span>
                                </div>
                            </div>
                            <label for="edit-end-date" class="col-sm-2 control-label">Fin</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="edit-end-date" name="end-date">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit-details" class="col-sm-2 control-label">Détails</label>
                            <div class="col-sm-10">
                                <textarea name="details" id="edit-details" class="form-control" style="height:200px;resize: none;"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="action" value="update" />
                    <input type="hidden" name="event-id" id="event-id" value="" />
                    <input type="hidden" name="date" id="date-edition" value="" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Sauvegarder</button>
                        <a class="btn btn-danger" href="javascript:;" onclick="deleteClicked();">Supprimer</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"style="z-index: 10120;">
        <div class="modal-dialog" style="z-index: 10121;">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" action="{{ path('bv_calendar_deleteEvents') }}" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Supprimer un évènement</h4>
                    </div>
                    <div class="modal-body">
                        Vous êtes sur le point de supprimer cet évènement, etes-vous sûr de vouloir faire celà ?
                    </div>
                    <input type="hidden" name="action" value="delete" />
                    <input type="hidden" name="event-id" id="delete-event-id" value="" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
