{% set notifications = getNotifications() %}

<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="{{ path('front_homepage') }}">
                <img src="{{ asset('images/admin/logo_bvb.png') }}" alt="logo" class="logo-default" style="max-height: 35px; margin-top: 5px; margin-left: 35px;"/>
            </a>
            <div class="menu-toggler sidebar-toggler hide">
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            {% if app.getUser() %}
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
					<span class="badge badge-default"> {{ notifications|length }} </span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if notifications|length > 0 %}
                            <li class="external">
                                <h3><span class="bold">{{ notifications|length }} </span> notifications non lues</h3>
                                <a href="{{ path('admin_tools_log_systemlog_list') }}">Voir tout</a>
                            </li>
                        {% endif %}
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                {% for notif in notifications %}
                                    <li>
                                        <a href="{{ path('admin_tools_log_systemlog_show', {id: notif.id}) }}">
                                            {#<span class="time">just now</span>#}
                                            <span class="details">
                                                <span class="label label-sm label-icon {% if (notif.level == constant('\\Tools\\LogBundle\\Entity\\SystemLog::NOTICE')) %} label-success {% else %} label-danger {% endif %}">
                                                    {% if (notif.type == constant('\\Tools\\LogBundle\\Entity\\SystemLog::TYPE_USER_CREATED')) %}
                                                        <i class="fa fa-plus"></i>
                                                    {% elseif (notif.type == constant('\\Tools\\LogBundle\\Entity\\SystemLog::TYPE_USER_WAITING_VALIDATION')) %}
                                                        <i class="fa fa-refresh"></i>
                                                    {% elseif (notif.type == constant('\\Tools\\LogBundle\\Entity\\SystemLog::TYPE_USER_ACCOUNT_DELETED')) %}
                                                        <i class="fa fa-user-times"></i>
                                                    {% elseif (notif.type == constant('\\Tools\\LogBundle\\Entity\\SystemLog::TYPE_USER_INFORMATIONS_CHANGED')) %}
                                                        <i class="fa fa-info"></i>
                                                    {% endif %}
                                                </span>
                                                {{ ('constants.types.' ~ notif.type)|trans }}
                                            </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="{{ app.getUser().picture }}"/>
                        <span class="username username-hide-on-mobile"> {{ app.getUser().firstname }} </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="{{ path('sonata_user_admin_security_logout') }}">
                                <i class="icon-key"></i> Déconnexion </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            {% endif %}
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix"></div>
