{% extends '@Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock stylesheets %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock scripts %}

{% block page_title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(30) }, 'SonataAdminBundle') }}
    {% else %}
        Cr&eacute;er <small>un nouvel utilisateur</small>
    {% endif %}
{% endblock page_title %}

{% block page_title_actions %}
    {% if admin.id(object) is not null %}
        <button type="button" class="btn btn-sm btn-danger pull-right navbar-btn" data-toggle="modal" data-target="#modalDelete">Supprimer</button>

        <!-- Modal Delete -->
        <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalDelete">Suppression du compte utilisateur</h4>
                    </div>
                    <div class="modal-body">
                        Attention ! Vous &ecirc;tes sur le point de supprimer un compte utilisateur. Cette action est irr&eacute;versible.<br/><br/>
                        Un email sera envoy&eacute; &agrave; l'utilisateur pour l'en informer. Etes-vous s&ucirc;r de vouloir continuer ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>

        {% if object.status != constant('\\BV\\FrontBundle\\Entity\\User::STATUS_INACTIVE') %}
            <button type="button" class="btn btn-sm btn-warning pull-right navbar-btn mr10" data-toggle="modal" data-target="#modalDeactivate">D&eacute;sactiver</button>

            <!-- Modal Deactivate -->
            <div class="modal fade" id="modalDeactivate" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalDelete">D&eacute;sactivation du compte utilisateur</h4>
                        </div>
                        <div class="modal-body">
                            Attention ! Vous &ecirc;tes sur le point de d&eacute;sactiver un compte utilisateur. Un compte inactif ne peut pas se connecter, renseigner ses pr&eacute;sences aux entra&icirc;nements, matchs, jeu libre, &eacute;cole de volley.<br/><br/>
                            Un email sera envoy&eacute; &agrave; l'utilisateur pour l'en informer. Etes-vous s&ucirc;r de vouloir continuer ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <a href="{{ path('admin_bv_front_user_deactivate', { id: object.id }) }}" class="btn btn-warning">D&eacute;sactiver</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
                <a href="{{ path('admin_bv_front_user_reactivate', { id: object.id }) }}" class="btn btn-sm btn-success pull-right mt8 mr20">R&eacute;activer</a>
        {% endif %}
    {% endif %}
{% endblock page_title_actions %}

{% block sonata_page_content_header %}
    <div class="well">
        Cet utilisateur est en status : <strong>{{ ('constants.user.status.' ~ object.status)|trans }}</strong>
    </div>

    {% if admin.id(object) is null %}
        <div class="well container-fluid">
            Attention, un mot de passe g&eacute;n&eacute;r&eacute; al&eacute;atoirement sera envoy&eacute; par email à la cr&eacute;ation du compte.
        </div>
    {% endif %}

    {% if object.status == constant('\\BV\\FrontBundle\\Entity\\User::STATUS_ACTIVE_WAITING_VALIDATION') %}
    <div class="well container-fluid">
        <div class="row">
                <span class="col-sm-9 text-justify">
                    Cet utilisateur a effectu&eacute; une demande de licence. Une fois les documents valid&eacute;s, la cotisation pay&eacute;e et la demande &eacute;ffectu&eacute;e aupr&egrave;s de l'organisme correspondant, cliquer sur Valider, l'utilisateur sera pr&eacute;venu par email. Sinon cliquer sur Refuser. Vous pourrez alors pr&eacute;ciser le motif. Un email sera envoy&eacute; &agrave; cet utilisateur.
                </span>
                <span class="col-sm-3">
                    <a href="{{ path('admin_bv_front_user_validate_renewal', { id: object.id }) }}" class="pull-right btn btn-block btn-sm btn-success mt8">Valider la demande</a>
                    <span class="clearfix"></span>
                    <button type="button"  data-toggle="modal" data-target="#modalRefuseValidation" class="pull-right btn btn-block btn-sm btn-primary mt8 mt10">Refuser la demande</button>

                    <!-- Modal Refuse -->
                    <div class="modal fade" id="modalRefuseValidation" tabindex="-1" role="dialog" aria-labelledby="modalRefuseValidation" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" action="{{ path('admin_bv_front_user_refuse_renewal', { id: object.id }) }}">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="modalDelete">Refuser la validation</h4>
                                    </div>
                                    <div class="modal-body">
                                        Vous &ecirc;tes sur le point de refuser la validation d'une demande de license. Entrez ci-dessous les raisons de votre refus. Un email sera alors envoy&eacute; &agrave; l'utilisateur concern&eacute;.
                                        <br/>
                                        <textarea name="message" style="width:100%; height:150px;"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-warning">Refuser</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </span>
            <div class="clearfix"></div>
        </div>
    </div>
    {% endif %}
    {% if object.status == constant('\\BV\\FrontBundle\\Entity\\User::STATUS_ACTIVE_WAITING_LICENSE') %}
        <div class="well container-fluid">
            <div class="row">
                <span class="col-sm-8">
                    {% if object.licenseBatch != '' and object.licenseType != '' %}
                        Une demande de licence a &eacute;t&eacute; &eacute;ffectu&eacute;e aupr&egrave;s de l'organisme concern&eacute; (LOT <strong>{{ object.licenseBatch }}</strong>). Une fois les informations re&ccedil;ues et remplies, cliquer sur le bouton suivant.
                    {% else %}
                        Le dossier de cet utilisateur est valid&eacute;, il est en attente d'une demande FSGT / FFVB. Merci de remplir les informations (LOT / TYPE) de licence.
                    {% endif %}
                </span>
                <span class="col-sm-4">
                    {% if object.licenseBatch != '' %}
                        <a href="{{ path('admin_bv_front_user_validate_license', {'id': object.id}) }}" class="pull-right btn btn-sm btn-primary mt8 mr5">Valider la licence</a>
                    {% endif %}
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endif %}

{% endblock sonata_page_content_header %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use 'SonataAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}
{% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {{ block('parentForm') }}
{% endblock %}
