{% set event = content[type]['events'] %}
{% set cms = content[type]['cmsPage'] %}

<div class="panel panel-primary panel-doodle">
    {% block panel_heading %}
        <div class="panel-heading">
            {{ title }}
            {% if allowed %} <a class="btn btn-primary btn-xs pull-right" href="{{ path('bv_static_volley_school_edit', { 'name': cmsPageId }) }}">{{ 'volleyschool.edit'|trans() }}</a> {% endif %}
            <span class="label label-sm label-success pull-right"><span class="badge">{{ nb[0][type] }}</span> Inscrits dans ce groupe</span>
        </div>
    {% endblock panel_heading %}
    <div class="panel-body">
        {% block panel_body_cms %}
            {% if cms|raw != null %}
                <div class="well">
                    {{ cms|raw }}
                </div>
            {% endif %}
        {% endblock panel_body_cms %}

        {% if event|length > 0 %}
            {% set unavailable = (content[type]['availabilities']['total'] - content[type]['availabilities']['nbAvailable'] ) %}
            {% set available = content[type]['availabilities']['nbAvailable'] %}
            <table class="table table-row table-stripped">
                <thead>
                <tr>
                    <th>Prochaine session : <i>{{ event.startDate|date('d M Y') }} de {{ event.startDate|date('H:i') }} à {{ event.endDate|date('H:i') }}</i></th>
                    <th><span class="color-text-green fa fa-check"></span></th>
                    <th><span class="color-text-carrot fa fa-question"></span></th>
                    <th><span class="color-text-pomegranate fa fa-remove"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td>{{ available + 0 }}</td>
                    <td>{{ ( nb[0][type] - available - unavailable ) }}</td>
                    <td>{{ unavailable }}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4" style="padding-left:0;padding-right:0;">
                        {% if content[type]['users']|length > 0 %}
                            <p>Inscrits pour cette session</p>
                            {% for u in content[type]['users'] %}
                                <div class="relative pull-left mr2 mb2">
                                    <img class="img-thumbnail" src="{{ u.user.picture| apply_filter('img_200_200') }}" style="margin: 0 auto;width:128px;height:128px;" />
                                    <label class="label-thumbnail">{{ u.user.firstname|slice(0, 18) }}</label>
                                </div>
                            {% endfor %}
                            <div class="clearfix"></div>
                        {% else %}
                            <p>Aucun inscrits pour le moment</p>
                        {% endif %}
                    </td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <p>Pas de session prévue pour le moment</p>
        {% endif %}
    </div>
    <div class="panel-footer">
        {% if app.user %}
            {% if user.isInGroup(type) %}
                {% if (content[type]['availability'] != null) %}
                    {% if (content[type]['availability'].isAvailable) %}
                        <a class="btn btn-block btn-sm btn-warning" href="{{ path('bv_user_toggle_availability', { 'event': event.id, 'is_available': false }) }}">Se désister pour cette session.</a>
                    {% else %}
                        <a class="btn btn-block btn-sm btn-success" href="{{ path('bv_user_toggle_availability', { 'event': event.id, 'is_available': true }) }}">S'inscrire pour cette session.</a>
                    {% endif %}
                {% else %}
                    <p class="text-center">Vous n'avez pas encore indiqué vos disponibilités pour cette session</p>
                    <div class="row">

                    <div class="col-sm-6">
                        <a class="btn btn-block btn-sm btn-success" href="{{ path('bv_user_toggle_availability', { 'event': event.id, 'is_available': true }) }}">Disponible</a>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-block btn-sm btn-warning" href="{{ path('bv_user_toggle_availability', { 'event': event.id, 'is_available': false }) }}">Indisponible</a>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                {% endif %}
            {% else %}
                Vous ne faites pas partie de ce groupe. Pour pouvoir indiquer vos disponibilités, voius devez le rejoindre. Cliquez sur s'inscrire, dans votre profil.
            {% endif %}
        {% else %}
            Vous devez être connecté pour indiquer vos disponibilités.
        {% endif %}
    </div>
</div>