{% set event = content[type]['events'] %}
{% set cms = content[type]['cmsPage'] %}
<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ ('volleyschool.' ~ type)|trans() }}
            <span class="label label-sm label-success pull-right"><span class="badge">{{ nb[0][type] }}</span> Inscrits dans ce groupe</span>
        </div>
        <div class="panel-body">
            {% if cms|raw != null %}
                <div class="well">
                    {{ cms|raw }}
                </div>
            {% endif %}

            {% if event|length > 0 %}
                {% set unavailable = (content[type]['availabilities']['total'] - content[type]['availabilities']['nbAvailable'] ) %}
                {% set available = content[type]['availabilities']['nbAvailable'] %}
                <table class="table table-row table-stripped">
                    <thead>
                    <tr>
                        <th>Prochaine session : <i>{{ event.startDate|date('d M Y') }} de {{ event.startDate|date('H:i') }} à {{ event.endDate|date('H:i') }}</i></th>
                        <th><span class="color-text-green fa fa-check"></span></th>
                        <th><span class="color-text-carrot fa fa-question"></span></th>
                        <th><span class="color-text-pomegranate fa fa-remove"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>{{ available }}</td>
                        <td>{{ ( nb[0][type] - available - unavailable ) }}</td>
                        <td>{{ unavailable }}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            {% if app.user %}
                                {% if user.isInGroup(type) %}
                                    {% if (content[type]['availability'] != null) %}
                                        {% if (content[type]['availability'].isAvailable) %}
                                            <div class="well">
                                                <p>Vous avez indiqué être présent pour cette session. Pour changer :</p>
                                                <a class="btn btn-sm btn-warning" href="{{ path('bv_user_toggle_availability', { 'event': event.id, 'is_available': false }) }}">Indisponible</a>
                                            </div>
                                        {% else %}
                                            <div class="well">
                                                <p>Vous avez indiqué être absent pour cette session. Pour changer :</p>
                                                <a class="btn btn-sm btn-success" href="{{ path('bv_user_toggle_availability', { 'event': event.id, 'is_available': true }) }}">Disponible</a>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="well">
                                            <p>Vous n'avez pas encore indiqué vos disponibilités pour cette session :</p>
                                            <a class="btn btn-sm btn-success" href="{{ path('bv_user_toggle_availability', { 'event': event.id, 'is_available': true }) }}">Disponible</a>
                                            <a class="btn btn-sm btn-warning" href="{{ path('bv_user_toggle_availability', { 'event': event.id, 'is_available': false }) }}">Indisponible</a>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="well">Vous ne faites pas partie de ce groupe. Pour pouvoir indiquer vos disponibilités, voius devez le rejoindre. Cliquez sur s'inscrire, plus haut.</div>
                                {% endif %}
                            {% else %}
                                <div class="well">Vous devez être connecté pour indiquer vos disponibilités.</div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">Joueurs disponibles</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            {% for u in content[type]['users'] %}
                                <img class="img-thumbnail pull-left" src="{{ u.user.picture| apply_filter('img_100_100') }}" style="margin: 0 auto;display: block;" />
                            {% endfor %}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            {% else %}
                <p>Pas de session prévue pour le moment</p>
            {% endif %}
        </div>
    </div>
</div>