{% extends "FrontBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'volleyschool.welcome'|trans() }} {% endblock %}

{% block content_row %}
    <h1>{{ 'volleyschool.welcome'|trans() }} {% if allowed %} <a class="btn btn-primary btn-sm pull-right" href="{{ path('bv_static_volley_school_edit', { 'name': constant('\\BV\\FrontBundle\\Entity\\CmsPage::STATIC_PAGE_VOLLEYSCHOOL') }) }}">{{ 'volleyschool.edit'|trans() }}</a> {% endif %} </h1>

    {% if text|length > 0 %}
        <div class="well">{{ text|raw }}</div>
    {% endif %}

    <div class="row">
        <div class="col-sm-6">
            {% set type = constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_VOLLEYSCHOOL_ADULT') %}
            {% set cmsPageId = constant('\\BV\\FrontBundle\\Entity\\CmsPage::STATIC_PAGE_VOLLEYSCHOOL_ADULTS') %}
            {{ include ( 'FrontBundle:Volleyschool:block.html.twig', {cmsPageId: cmsPageId, allowed: allowed, title: ('volleyschool.' ~ type)|trans(), content: content, user: user, nb: nb, type: type} , with_context = false  ) }}
        </div>
        <div class="col-sm-6">
            {% set type = constant('\\BV\\FrontBundle\\Entity\\Events::TYPE_VOLLEYSCHOOL_YOUTH') %}
            {% set cmsPageId = constant('\\BV\\FrontBundle\\Entity\\CmsPage::STATIC_PAGE_VOLLEYSCHOOL_YOUTH') %}
            {{ include ( 'FrontBundle:Volleyschool:block.html.twig', {cmsPageId: cmsPageId, allowed: allowed, title: ('volleyschool.' ~ type)|trans(), content: content, user: user, nb: nb, type: type} , with_context = false ) }}
        </div>
    </div>

{% endblock content_row %}

