{% extends "FrontBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'volleyschool.welcome'|trans() }} {% endblock %}

{% block content_row %}
    <h1>{{ 'volleyschool.welcome'|trans() }} {% if allowed %} <a class="btn btn-primary btn-sm pull-right" href="{{ path('bv_static_volley_school_edit') }}">{{ 'volleyschool.edit'|trans() }}</a> {% endif %} </h1>

    {{ content|raw }}

    {% for event in events %}
        {{ event.text }}
        <i>De {{ event.startDate|date('d/m/Y H:i') }} à {{ event.endDate|date('d/m/Y H:i') }}</i>
    {% endfor %}

{% endblock content_row %}
